<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3 border rounded mb-4 bg-light">
  <h5>Agregar producto</h5>

  <div class="mb-2">
    <label>Nombre</label>
    <input class="form-control" formControlName="nombre" />
  </div>

  <div class="mb-2">
    <label>Precio</label>
    <input type="number" class="form-control" formControlName="precio" />
  </div>

  <div class="mb-2">
    <label>Categoría</label>
    <input class="form-control" formControlName="categoria" />
  </div>

  <button type="submit" class="btn btn-primary mt-2">Guardar</button>

  <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>
</form>
